;; Basic home row mods example using QWERTY
;; For a more complex but perhaps usable configuration,
;; see home-row-mod-advanced.kbd

(defcfg
  process-unmapped-keys yes
  danger-enable-cmd yes
)

(defsrc
  esc   f1   f2   f3   f4   f5   f6   f7   f8   f9  f10  f11  f12
  102d  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab  q    w    e    r    t    y    u    i    o    p    [    ]    \
  caps a    s    d    f    g    h    j    k    l    ;    '    ret
  lsft grv z    x    c    v    b    n    m    ,    .    /    rsft
  fn lctl lmet lalt           spc            ralt rmet rctl
)


(defvar
  ;; Note: consider using different time values for your different fingers.
  ;; For example, your pinkies might be slower to release keys and index
  ;; fingers faster.
  tap-short 150
  tap-time 200
  tap-long 250
  hold-long 300
  hold-time 150

  left-hand-keys (
    q w e r t
    a s d f g
    z x c v b
  )
  right-hand-keys (
    y u i o p
    h j k l ;
    n m , . /
  )
)

(deflayer base
  esc   brdn  brup  _    _    _    _    prev  pp   next  mute  vold  volu
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab   q    w    e    r    t    y    u    i    o    p    [    ]    \
  @caps a   s   d   f    g    h   j   k   l   ;    '    ret
  lsft  grv @z  @x  @c   @v    b    n    @m    @,    @.    @/    rsft
  @fnl lctl lmet lalt           spc            ralt @sym  rctl
)

(deflayer nomods
  esc   f1   f2   f3   f4   f5   f6   f7   f8   f9  f10  f11  f12
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab   q    w    e    r    t    y    u    i    o    p    [    ]    \
  @caps a    s    d    f    g    h    j    k    l    ;    '    ret
  lsft  grv z    x    c    v    b    n    m    ,    .    /    rsft
  fn lctl lmet lalt           spc            ralt rmet  rctl
)

(deflayer symbols
  esc  f1   f2   f3   f4   f5   f6   f7   f8   f9  f10  f11  f12
  grv  1    2    3    4    5    6    7    8    9    0    -    =    bspc
  tab   q    [    s    ]    t    y    S-,  i    S-.  p    [    ]    \
  @caps a    S-[ S-4  S-]  g    h    S-9  k    S-0  ;    '    ret
  lsft  grv z    x    c    v    b    n    m    ,    .    /    rsft
  fn lctl lmet lalt           spc            ralt rmet rctl
)

(deflayer nav
  lrld   f1   f2   f3   f4   f5   f6   f7   f8   f9  f10  f11  f12
  102d  lrld    XX    XX  XX   XX    6    7    8    9    0    -    =    bspc
  tab   XX    XX    XX    XX    _    y    u    up   o    p    [    ]    \
  caps  XX    XX    XX   A-spc    _    home left down rght end  '    ret
  lsft  grv  lctl  lalt   lmet lsft          b    n    m    ,    .    /    rsft
  fn    lctl lmet lalt           spc            ralt @sym rctl
)

(deflayer fn
  esc   1   f2   f3   f4   f5   f6   f7   f8   f9  f10  f11  f12
  grv   1     2     3    4    5    6    7     8    9     0     -     =     bspc
  tab   q     [     s    ]    t    y    S-,   i    S-.   p     [     ]     \
  @caps a     S-[   S-4  S-]  g    h    S-9   k    S-0   ;     '     ret
  lsft  grv z     x     c    v    b    n     m    ,     .     /     rsft
  fn    lctl  lmet  lalt           spc            ralt  rmet  rctl
)

(deffakekeys
  to-base (layer-switch base)
)

(defalias
  cw (caps-word 2000)
  
  capsword (tap-dance 200 (lctl @cw))
  
  tap (multi
    (layer-switch nomods)
    (on-idle-fakekey to-base tap 20)
  )
  fnl (tap-hold 200 200 fn (layer-toggle fn))

  sym (tap-hold 200 200 bspc (layer-toggle symbols))
  caps (tap-hold 200 200 (one-shot 500 C-S-lalt) (layer-toggle nav))

  z (tap-hold-release-keys $tap-long $hold-long (multi z @tap) lctl $left-hand-keys)
  x (tap-hold-release-keys $tap-time $hold-time (multi x @tap) lalt $left-hand-keys)
  c (tap-hold-release-keys $tap-time $hold-time (multi c @tap) lmet $left-hand-keys)
  v (tap-hold-release-keys $tap-time $hold-time (multi v @tap) lsft $left-hand-keys)
  m (tap-hold-release-keys $tap-time $hold-time (multi m @tap) rsft $right-hand-keys)
  , (tap-hold-release-keys $tap-time $hold-time (multi , @tap) rmet $right-hand-keys)
  . (tap-hold-release-keys $tap-time $hold-time (multi . @tap) ralt $right-hand-keys)
  / (tap-hold-release-keys $tap-long $hold-long (multi / @tap) rctl $right-hand-keys)



  lang_us (cmd sudo macism io.github.colemakmods.keyboardlayout.colemakdh.colemakdhiso)
  lang_ua (cmd sudo macism com.apple.keylayout.Ukrainian-PC)
)


